<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fast Feedback" %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <div class="navbar navbar-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Fast Feedback</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
           <div class="span9">
              <%= yield %>
            </div>
        </div>
      </div>

      <footer>
        <p>&copy; foo 2012</p>
      </footer>

    </div> 
    <%= javascript_include_tag "application" %>
  </body>
</html>
